.page{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    overflow: hidden;
}
.page .content-container{
   width: 100%;
    max-width: 1200px;
}