.cep-form-container{

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start ;
}

.search-button{
    background-color: #ffae00;
    border-radius: 4px;
}

.error{
    color: rgb(241, 67, 67);
    font-size: 16px;
}